.blanc2 {
    color: #fff;
}

.noir {
    color: #000;
}

.blanc-opaciter {
    color: #fff;
    opacity: 0.6;
}

.jaune {
    color: #F7CF37;
}

.bleu {
    color: #3A417F; 
}

.bleu-2 {
    color: #384183;
}

